☆ 外部ID
【定義】
本サービスを利用する際に利用者がユーザを識別する際の名前であり、ログイン時に使用される。
【エイリアス】ユーザ名
【使用シーン】
・ログイン時
・検索時
【作成シーン】
・アカウント作成時
【変更シーン】
・設定変更（仮）
【備考】
・半角英数字を使用
・大文字、小文字は区別しない
・5文字以上15文字以内
・ユニークな文字列
・変更可
【データ型】文字列

☆ 内部ID
【定義】
サーバ側がアカウントを識別する際に使用される数値
【使用シーン】
【作成シーン】
・アカウント作成時
【変更シーン】
・変更不可
【備考】
・アカウント登録順に番号を割り当てる
・内部IDでログイン不可
【データ型】整数値

☆名前
【定義】
【エイリアス】
【使用シーン】
【作成シーン】
【変更シーン】
【備考】
【データ型】
