#thread{
    width: 400px;
    margin: 30px auto;
    padding: 20px;
}
  
.title,.genre,.tag{
    margin-bottom: 10px;
    }
  
input[type="title"],
input[type="genre"],
input[type="tag"] {
    width: 300px;
    padding: 2px;
    font-size: 14px;
    }
    
.submit{
    text-align: right;
    width: 200px;
    height: 30px;
    }

        
    .hidden_box {
        margin:0;
        padding: 0;
    }
    
    .hidden_box label {
        padding: 15px;
        font-weight: bold;
        border: solid 2px black;
        cursor :pointer;
    }
    
    .hidden_box label:hover {
        background: #efefef;
    }
  
        .hidden_box .hide {
        height: 0;
        padding: 0;
        overflow: hidden;
        opacity: 0;
        transition: 0.8s;
    }
        .hidden_box input:checked ~ .hide {
        padding: 10px 0;
        height: auto;
        opacity: 1;
    }
  
  
  
  
    #input_plural {
      margin: 10px 0;
  }
   
  #input_plural input.form-control {
      display: inline-block;
      width: 300px;
      padding: 2px;
      font-size: 14px;
      color: #555;
  }
   
  #input_plural input.pluralBtn {
      width: 30px;
      height: 30px;
      border: 1px solid #ccc;
      background: #fff;
      border-radius: 5px;
      padding: 0;
      margin: 0;
  }
  
  
  
  
  .cp_ipselect {
      overflow: hidden;
      width: 300px;
      margin:0;
  }
  .cp_ipselect select {
      width: 300px;
      padding-right: 1em;
      cursor: pointer;
      text-indent: 0.01px;
      text-overflow: ellipsis;
      border: none;
      outline: none;
      background: transparent;
      background-image: none;
      box-shadow: none;
      -webkit-appearance: none;
      appearance: none;
  }
  .cp_ipselect.cp_sl01 {
      position: relative;
      border: 1px solid #aaa;
      background: #ffffff;
  }
  .cp_ipselect.cp_sl01::before {
      position: absolute;
      top: 0.7em;
      right: 0.7em;
      width: 0;
      height: 0;
      padding: 0;
      content: '';
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #666666;
      pointer-events: none;
  }
  .cp_ipselect.cp_sl01 select {
      padding: 3px 38px 8px 8px;
      color: #666666;
  }